<%- model_class = Subject -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <% if current_user and current_user.admin? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_subject_path,
                :class => 'btn btn-primary' %>
  <% end %>
</div>

<div class="container">
  <div id="products" class="row list-group">
<% @subjects.each do |subject| %>
        <div class="item  col-xs-12 col-lg-4">
            <div class="thumbnail">
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        <%= subject.title %></h4>
                    <p class="group inner list-group-item-text">
                        Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                        sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                                <span>&#3647;</span><%=subject.price%></p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                          <% if current_user and current_user.admin? %>

                            <%= link_to t('.show', :default => t("helpers.links.show")),
                                        subject_path(subject), :class => 'btn btn-default btn-xs' %>
                            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                        edit_subject_path(subject), :class => 'btn btn-default btn-xs' %>
                            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                        subject_path(subject),
                                        :method => :delete,
                                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                        :class => 'btn btn-xs btn-danger' %>
                          <% else%>
                          <%= form_tag addcart_path, remote: true, method: :get, id: 'cart-lookup-form' do %>
                             <%= hidden_field_tag 'subject_id', subject.id %>
                              <%= button_tag(type: :submit, class: 'btn btn-lg btn-success') do %>
                              <i class='fa fa-cart'></i>Add to cart
                          <% end %>

                              <% end %>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% end %>
  </div>
</div>
